@{
    ViewData["Title"] = "Login Chat";
}

<form action="@Url.Action("Login")" method="post">
    Name: <input name="nick" class="input-text"/>
    <button type="submit" class="btn btn-primary">join chat</button>
</form>
